@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
}


body {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}


/*.articulo1{
    width: 800px;
    height: 800px;
    border: black solid;
    padding: 10px;
    background-color: peru;
    border-radius: 80%;
    overflow: hidden;
    margin: 0 auto;
}*/
